<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xj.iws.http.dao.NewsDao">

    <sql id="field">alarmid,userid,status,alarmtime,confirmtime,name,describes</sql>

    <resultMap id="NewsEntity" type="com.xj.iws.http.entity.NewsEntity">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="alarmid" property="alarmId" jdbcType="INTEGER"/>
        <result column="userid" property="userId" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="alarmtime" property="alarmTime"/>
        <result column="confirmtime" property="confirmTime"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="describes" property="describes" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="add" parameterType="NewsEntity" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO news (alarmid,status,alarmtime,name,describes) VALUES (${alarmId},2,now(),'${name}','${describes}')
    </insert>

</mapper>